#topnav {
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 1px black solid;
    margin-top: 30px;
    padding-bottom: 30px;
}

#portfolioTitle {
    margin-left: 25px;
}

#navButtons {
margin-left: auto;
margin-right: 25px;
}

.topButton {
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 10px;
}

