#topnav {
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 1px black solid;
    margin-top: 30px;
    padding-bottom: 30px;
}

.portfolioTitle {
    margin-left: 25px;
}

#navButtons {
margin-left: auto;
margin-right: 25px;
}

.topButton {
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 10px;
}
#mainSection {
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    border-bottom: 1px black solid;
    padding-bottom: 50px;
    height: 600px;
}

#mainSection #heroText {
    margin: auto;
    text-align: center;
    min-width: 150px;
}

#mainSection img {
    height: 600px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 24px;
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    width: 200px;
}

span {
    width: 30px;
}
