/* Nav Bar */
#topnav {
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 1px black solid;
    margin-top: 30px;
    padding-bottom: 30px;
}


#navButtons {
margin-left: auto;
margin-right: 25px;
}

.topButton {
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 10px;
}
/* main section */
#mainSection {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 40px;
}

/* footer */
#footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    width: 200px;
}

span {
    width: 30px;
}