/* Nav Bar */
#topnav {
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 1px black solid;
    margin-top: 30px;
    padding-bottom: 30px;
}


#navButtons {
margin-left: auto;
margin-right: 25px;
}

.topButton {
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 10px;
}

#pageTitle {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.workExperience {
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    font-size: 40px;
}

#myName {
    font-size: 30px;
    font-weight: bold;
}

.job-header {
    display: flex;
    align-items: center;
}

.job-bullets {
    display: none;
}

.show-text .job-bullets {
    display: block;
}

#education {
    margin-left: 100px;
    margin-right: 100px;
}

#certifications {
    margin-left: 100px;
    margin-right: 100px;
}

#spacer {
    background-color: black;
    height: 1px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* footer */
#footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    width: 200px;
}

span {
    width: 30px;
}
