.topnav {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    text-align: center;

}
a {
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 10px;
}

h1 {
    text-align: center;
}

.face {
    margin: auto;
    width: 50%;
    padding: 10px;
}